main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
}

.carousel {
    max-width: 200px;
    width: 100%;
    aspect-ratio: 1;
    margin: 0 auto;
}


.img-holder {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 1rem;
    object-fit: cover;
}

.img-container.card {
    height: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #f8f9fa;
}

.carousel-item {
    border-radius: 1rem; 
    overflow: hidden; 

}

.carousel-item .img-holder {
    border-radius: 1rem; 
}


.favorite-btn {
    border: none;
}


.card-footer {
    border-top: none;
    background: none;
}

.footer a,
.footer i {
    color: white;
    transition: color 0.2s ease;
}

.footer a:hover,
.footer a:hover i {
    color: #0a58ca;
}

