.img-holder {
    background-color: blueviolet ;
    border-radius: 1rem;
}

.img-container.card {
    border: none;
}

.favorite-btn {
    border: none;
}

main .card { border: none; }
.createpost-page .card { border: none; }

.card-footer { 
    border-top: none;
    background: none;
}

.footer a,
.footer i {
    color: white;
    transition: color 0.2s ease;
}

.footer a:hover,
.footer a:hover i {
    color: #0a58ca;
}